
[Xfce Panel]
Type=X-XFCE-PanelPlugin
Name=Graphs Plugin
Comment=Draws CPU, memory and network graphs
X-XFCE-Module=graphs
X-XFCE-Module-Path=/usr/lib/x86_64-linux-gnu/xfce4/panel/plugins/
X-XFCE-Internal=TRUE
X-XFCE-API=1.0
Icon=utilities-system-monitor
